
.App{
  margin: 2rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 500px;
  border: solid 2px;
  justify-content: space-around;
  min-width: 1000px;
}

.precio{
  background-color: #DF8F7E ;
  border-radius: 10px;
  padding: 5px;

}

.contenedorTarjeta{
  background-color: red;
  width: 300px;
  margin-top: 30px;
}

.MuiCardMedia-img{
 
}

.MuiCardMedia-img:hover{
  scale: 1.2;
}